.aboutme-cn{
    min-height: 100vh;
    padding-top: 100px;
    margin: 0 200px;
    scroll-snap-align: start;
}

@media(max-width: 400px){
    .aboutme-cn{
        padding-top: 150px;
    }

    .aboutme-cn h1{
        font-size: 40px;
    }

    .aboutme-cn .extra{
        min-width: 100px
    }

    .aboutme-cn p{
        font-size: 10px;
    }

    .aboutme-cn .skill{
        font-size: 18px;
    }

    .aboutme-cn .tech-logo{
        width: 25px;
    }

    .aboutme-cn .tech-name{
        font-size: 7px;
    }
}

.aboutme{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 70px 50px;
}

h1{
    text-align: center;
    font-size: 65px;
    background-image: linear-gradient(rgb(1, 110, 218), rgb(217, 0, 192));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-column: 1/3;
}

.extra{
    width: 100%;
    min-width: 300px;
    border-radius: 7px;
    box-shadow: 10px 10px 20px 7px black;
}

.skill{
    background-image: linear-gradient(rgb(1, 110, 218), rgb(217, 0, 192));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: end;
    font-size: 30px;
}

.experience{
    display: flex;
    gap: 20px;
}

.tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tech-logo{
    width: 50px;
}

.tech-name{
    font-size: 15px;
}