.aboutme-cn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    margin: 100px;
    min-height: 100vh;
}

.aboutme{
    max-width: 800px;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

p{
    margin-bottom: 20px;
}

@media (max-width: 360px) {
    .aboutme-cn{
        margin: 50px;
    }

    h1{
        font-size: 30px;
    }

    p{
        font-size: 12px;
    }
}

.experience{
    display: flex;
    gap: 20px;
}

.tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tech-logo{
    width: 50px;
}

.tech-name{
    font-size: 15px;
}