.aboutme-cn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   

.aboutme-text{
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.aboutme{
    display: grid;
    width: 100%;
    grid-template-columns: 500px 500px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.614);
    padding: 40px 0px;
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.821);
    z-index: 2;
}


.extra{
    width: 350px;
    border-radius: 10px; 
    box-shadow: -1px 1px 20px 7px rgba(111, 76, 255, 0.5);
}


.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
    padding: 50px;
    background-color: rgba(128, 128, 128, 0.077);
    box-shadow: 0px 10px 35px -1px rgba(0, 0, 0, 0.744);
}

.skill-heading{
    font-size: 50px;
    font-family: 'ubuntu';
    
}

.tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    height: 120px;
    background-color: rgb(33, 31, 31);
    border-radius: 50%;
    font-size: 15px;
    box-shadow: -10px 10px 15px black
}

.tech-logo{
    width: 45px;
}

.row1{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    gap: 30px;
}

.row2{
    display: grid;
    grid-template-columns: 120px 120px;
    justify-content:space-around;
    margin-left: 120px;
    gap: 30px;
}

.experience{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

@media (max-width: 400px){
    .aboutme-cn h1{
        font-size: 40px;
    }

    .aboutme{
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 30px 60px
    }

    .extra{
        width: 300px;
    }

    .below-am{
        padding: 0 20px;
    }

    .experience{
        margin-right: 20px;
    }

    .skills{
        flex-direction: column;
        gap: 30px
    }

    .skills h2{
        font-size: 35px;
    }

    .tech{
        height: 100px;
    }

    .row1{
        grid-template-columns: 100px 100px 100px;
    }

    .row2{
        grid-template-columns: 100px 100px;
        margin-left: 50px;
    }

    .tech-logo{
        width: 30px;
    }
}

@media (max-width: 1080px){
    .below-am{
        width: 400px;
    }

    .skills{
        padding: 50px 0px;
    }

    .tech{
        height: 100px;
    }

    .row1{
        grid-template-columns: 100px 100px 100px;
    }

    .row2{
        grid-template-columns: 100px 100px;
        margin-left: 50px;
    }

    .tech-logo{
        width: 30px;
    }
}