.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    min-height: 100vh;
    padding: 0 20px;
}


@media (max-width: 400px){
    .home{
        min-height: 85vh;
        gap: 23px;
    }

    .home h2{
        font-size: 22px;
    }

    .home .text{
        font-size: 10px;
    }

    .home .profile-img{
        height: 160px;
        width: 160px;
    }

    .home .mail-me{
        font-size: 15px;
    }
}


h2{
    font-size: 45px;
    margin: 10px 0px;
}

.profile-img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: -8px 4px 10px  black;
    transition: 200ms;
}

.profile-img:hover{
    transform: scale(1.05);
}

.mail-me{
    background-color: black;
    font-size: 27px;
    margin-top: 30px;
    padding: 7px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    transition: 100ms;
    border: 2px double transparent;
      background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.mail-me:hover{
    transition: all 0.3s ease;
    box-shadow: rgba(111, 76, 255, 0.5) 0px 0px 20px 0px;
}

.line{
    width: 100%;
    height: 10px;
    background-color: black;
    margin-top: 20px;
}










