.mywork{
    padding-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.heading{
    align-self: flex-start;
    font-size: 3rem;
    font-weight: 500;
    grid-column: 1/3;
    padding-bottom: 2px;
    border-bottom: 3.5px solid rgba(111, 76, 255, 0.5);
}

.projects-cn{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 5em;
    row-gap: 4em;
    max-width: 760px;
}

.project-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-desc h1{
    text-align: center;
}

.project-text{
    text-align: center;
    margin-top: 20px;
    max-width: 200px;
}

.sourcecode-link{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.source-btn{
    font-size: 25px;
    color: white;
    padding: 2px 7px;
    border-radius: 7px;
    border: none;
    transition: all 0.7s ease;
    background-image: radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
}

.source-btn:hover{
    transition: all 0.3s ease;
    background-image: radial-gradient(circle at left top, rgb(217, 0, 192), rgb(1, 110, 218));
    box-shadow:  rgba(111, 76, 255, 0.5) 0px 0px 20px 0px;
}

.control{
    position: relative;
    top: -40px;
    margin-bottom: 50px;
    transition: 200ms;
}


.control button{
    color: white;
    outline: none;
    background-color: rgba(0, 0, 0, 0.39);
    border: none;
    border-radius: 15px;
    padding: 7px 14px;
    box-shadow: -3px 7px 7px 2px rgba(0, 0, 0, 0.49);
}



@media (max-width: 400px){
    .mywork{
        padding-top: 200px;
    }

    .heading{
        font-size: 2.5rem;
    }

    .projects-cn{
        column-gap: 2em;
    }

    .projects-cn h1{
        font-size: 22px;
    }

    .project-text{
        font-size: 8px;
    }

    .source-btn{
        font-size: 17px;
    }

    .control{
        top: 0px
    }
}